/* GENERAL */
body{
    font-family: 'Comfortaa', cursive;
    width: 100%;
}

h1{
    font-family: 'Cinzel Decorative', cursive;
    width: 100%;
    font-weight: 400;
    font-size: 20pt;
}

h5{
    font-family: 'Cinzel Decorative', cursive;
    width: 100%;
    font-weight: 700;
    font-size: 14pt;
    color: #763D14;
}

.titleRunners{
    text-align: center;
    vertical-align: middle;
    background-color: #F7A2A5;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

button{
    background-color: #FF8B94;
    color: white;
    border: 0pt;
    border-radius:0px 30px 0px 30px;
    padding: 17px 53px;
    font-weight: 400;
    font-size: 14pt;
    width: 46%;
    cursor: pointer;
}

/*NAVIGATION*/
.navbox{
    width: 100%;
    height: 97px;
    background-color: white;
    opacity: 0;
}

.logo{
    padding-top: 10px;
    padding-left: 50px;
}

.navlogo{
    padding-top: unset;
    transform: scale(.75);
}


 .navigation{
    width: 100%;
    height: 97px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin-top: -6rem;


}

.navIcons{
    display: flex;
    align-content: center;

}

.icons {
    background-color: #9BC698;
    margin: 10px;
    padding:15px;
    border-radius:35px 0px 35px 0px;
    display: flex;
    align-items: center;
       
}

.icons img{
    width: 45px;
}

/*HERO SECTION*/
.heroSection{
    display: flex;
    height: 65vh;
    justify-content: center;
    background-color: #cee3cc;
    margin-top: 7rem;
}

.heroImage{
    transform: scale(0.9);
    margin-left: -230px;
}

.heroContents{
    display: flex;
    align-items: center;
}

.content{
    margin-left: 5rem;
    margin-right: 5rem;
    align-self: center;
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 24pt;
    color: #763D14;

}

.myTitle{
    font-size: 16pt;
    color: #48742C;
}

.heroPara{
    font-size: 16pt;
    color: #763D14;
}

/* PORTFOLIO */
.project{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;

}


/* .movingGreenbox{
    height: 600px;
    width: 887px;
    background-color: #9BC698 ;
    position: relative;
} */

.movingh1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 600px;
    width: 887px;
    background-color: #9BC698 ;
}
/* MY EXPERIENCE */
#expflex{
    display: flex;
    width:40rem;
}

#expContent{
    max-width: 205px;
}

#expNoB{
    background-color: #FF8B94;
    color: white;
    width: 56px;
    height: 56px;
    border-radius: 30px 0px 30px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    
}
#expNoA{
    background-color: #FF8B94;
    color: white;
    width: 56px;
    height: 56px;
    border-radius: 0px 30px 0px 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    
}
.experienceGridArea{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    position: relative;
}
/* Experience Grid CSS */
#experienceGrid{
    margin: 0 10px;
    justify-content: center;
    display: grid;
    grid-template-columns: 33%;
    grid-template-rows: 20vh 20vh 20vh 20vh;
    grid-template-areas: 
    "SmallBusinessOwner"
    "FreelanceArchitect"
    "JuniorArchitect"
    "InternArchitect";
}

#smallBusinessOwner{
    grid-area: SmallBusinessOwner;
    text-align: right;
    width: 35vh;
}

#freelanceArchitect{
    grid-area: FreelanceArchitect;
    width: 35vh;
    /* margin-left: 78vh; */
}

#juniorArchitect{
    grid-area: JuniorArchitect;
    text-align: right;
    width: 35vh;
}

#internArchitect{
    grid-area: InternArchitect;
    width: 35vh;
    /* margin-left: 78vh;
    margin-bottom: 30vh; */
}

#stem{
    position: absolute;
    bottom: 0%;
    right: 50%;

}
#stem img{
    width:63px;
}

/* MY SKILLS */
#headline{
    display: flex;
    align-items: center;
}

.skillGridArea img{
    width: 52px;
}

.skillList{
    color: #48742C;
    background-color: #E0DA8A;
    border-radius: 30px;
    width: 35vh;
    padding: 30px;
    font-weight: 700;
}

/* Skills Grid CSS */
#skillGrid{
    margin: 0 120px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: max-content;
    grid-template-areas: 
    "Design Tools Others";
}

#Design{
    grid-area: Design;
    /* justify-content: space-around; */
}
#Tools{
    grid-area: Tools;
}
#Others{
    grid-area: Others;
}

/* .skillGridArea{
    align-items: center;
    display: flex;
    position: relative;
} */



/* ABOUT ME */
#aboutMeGrid{
    background-color: #cee3cc;
    width: 100%;
}

#AMprofile img{
    width: 545px;
}

.introduction{
    color: #763D14;
}

#AMcontent p{
    color: #48742C;
    font-weight: 700;
}

.AMbutton{
    width: 55%;
    margin-left: 45%;
}

/* About me grid CSS */

#aboutMeGrid{
    display: grid;
    justify-content: center;
    grid-template-columns: 37% 37%;
    grid-template-rows: max-content;
    grid-template-areas: 
    "AMprofile AMcontent";
}

#AMprofile{
    grid-area: AMprofile;
    text-align: center;
}

#AMcontent{
    grid-area: AMcontent;
    padding-left: 20px;
    align-self: center;
}

/*FOOTER*/
footer{
    background-image: url(../images/Footer/Creeper\ Background\ Peach2.png);
    display: flex;
    flex-direction: column;
    background-size: cover;
}

.footercontents{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 16pt;
    color: #48742C;
    list-style-type: none;
    padding-right: 50px;
}

ul{
    list-style-type: none;
}

li{
    list-style-type: none;
    padding: 10px;
}

.footerIcons{
    display: flex;

}

.icons2{
    background-color: #763D14;
    padding:20px;
    border-radius:60% 0% 60% 0%;
    display: flex;
    align-items: center;
}

.icons2 img{
    width: 40px;
}























