/*navigation*/

.iconsandlogo{
    display: flex;
    justify-content: space-between;
}

.navigation{
    width: 80%;
    height: 97px;
    margin: 1% auto;

}

.navIcons{
    display: flex;
    align-content: center;

}

.icons {
    /* display: block;
    float: right; */
    background-color: #9BC698;
    margin: 10px;
    padding:15px;
    /* height: 25px; */
    border-radius:30px 0px 30px 0px;
   
}
.icons img{
    height: 35px;
}


/*Hero section*/
.backgroundImg{
    display: inline-block;
    flex-direction: row;
    width: 100%;
}

/*Footer*/

.logo2{
    padding: 40px;
}

.footercontents{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 20pt;
    color: #48742C;
}

ul{
    list-style-type: none;
}

li{
    list-style-type: none;
    padding: 10px;
}

footer{
    background-image: url(../images/Footer/Creeper\ Background\ Peach2.png);
    width: 1366px;
    height: 414px;
    padding: 10px;
    background-size: cover;
}

.footerTitle{
    font-size: 22pt;
}

.footerIcons{
    display: flex;
    margin: 10px;
    padding:15px;
    border-radius:30px 0px 30px 0px;

}

.icons2{
    background-color: #763D14;
}
























